HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/application.yml
.ipynb_checkpoints/data_insert_script-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
data.csv
data_insert_script.ipynb
dbscript.py
foodData.csv
Untitled-1.py
/src/main/resources/secret.yml
/menu-data
